* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
  background-color: #f3eae3;
}

.product-card {
  width: 345px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

#desktop-img {
  display: none;
}

#mobile-img {
  width: 100%;
  height: auto;
  display: block;
}

.details {
  padding: 30px;
  background-color: #fff;
}

/* -------------------------------------------- */
p,
button {
  font-family: "Montserrat", system-ui;
}

.name,
.new-price {
  font-family: "Fraunces", system-ui;
}

.category {
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2307em;
  margin-bottom: 18px;
}

.name {
  line-height: 1;
  font-weight: 700;
  margin-bottom: 25px;
}

.description {
  font-size: 0.875rem;
  line-height: 1.6;
  margin-bottom: 25px;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.new-price {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 15px;
  color: hsl(158, 36%, 37%);
}

.old-price {
  font-size: 0.875rem;
  text-decoration: line-through;
}

button {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  font-size: .875rem;
  font-weight: 700;
  color: #f2ebe3;
  background-color: #3c8067;
  padding: 16px;
  width: 100%;
  border: none;
  border-radius: 8px;
  transition: background-color .3s;
}

button:active {
  cursor: pointer;
  background-color: #1a4031;
}

@media screen and (min-width: 680px) {
  .product-card {
    width: 600px;
    flex-direction: row;
  }

  .images {
    flex-basis: 50%;
  }

  .details {
    flex-basis: 50%;
  }

  #desktop-img {
    width: 100%;
    height: auto;
    display: block;
  }

  #mobile-img {
    display: none;
  }
}
